:root {
  --white: #fffbfb;
  --floral-white: #fffcf2;
  --flame: #eb5e28;
  --eerir-black: #252422;
  --black-olive: #403d39;
  --pale-silver: #ccc5b9;
  --black: #050505;
  --border-radius: 30px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--floral-white);
  color: var(--eerir-black);
  font-family: 'Bungee', cursive;
  font-size: 25px;
  /* font-weight: 500; */
  word-wrap: break-word;
  user-select: none;
  /* margin-bottom: 100px; */
  overflow: hidden;
}

button,
input {
  height: 60px;
  width: 175px;
  background-color: inherit;
  border-radius: 30px;
  border: 10px solid var(--black-olive);
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button {
  width: 352px;
  height: 80px;
  border: none;
  background-color: var(--flame);
  box-shadow: var(--shadow);
  color: var(--eerir-black);
  font-size: 60px;
  /* font-family: 'Bungee Shade', cursive; */
}

.menu-board {
  font-family: 'Bungee Spice', cursive;
  font-size: 70px;
  height: 50px;
  margin: 25px auto;
  /* border: 2px solid black; */
  grid-gap: 2%;
  border-radius: 30px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

input {
  background-color: var(--light-beige);
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

.game-board {
  height: 500px;
  width: 500px;
  margin: 25px auto;
  /* border: 2px solid black; */
  grid-gap: 2%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.board-cell {
  width: 100%;
  height: 160px;
  border-radius: 30px;
  border: 10px solid var(--black-olive);
  cursor: pointer;
  font-family: 'Bungee Spice', cursive;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.board-cell:hover {
  background-color: var(--pale-silver);
}

.container {
  max-width: var(--container-width);
  padding: var(--spacing-lg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 0px; */
}

.clear {
}

.header {
  background-color: var(--flame);
  box-shadow: var(--shadow);
  color: var(--eerir-black);
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  display: flex;
}

.main {
  margin-top: var(--spacing-lg);
  text-align: center;
}

.game {
  opacity: 0;
  pointer-events: none;
  transform: translate(0%, -45%) scale(1.2);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.game.active {
  opacity: 1;
  transform: translate(0%, -45%) scale(1);
  pointer-events: auto;
}

.menu.inactive {
  pointer-events: none;
  opacity: 0;
  transform: translate(0%, 0%) scale(1.2);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.menu-button {
  font-size: 25px;
  font-family: 'Bungee', cursive;
}

.menu-button.selected {
  font-size: 26px;
  font-family: 'Bungee Spice', cursive;
}

.message {
  /* font-family: 'Bungee Shade', cursive; */
  color: var(--black-olive);
  font-size: 40px;
  /* padding-top: 50px; */
  /* height: 152px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.message.active {
  /* font-family: 'Bungee Spice', cursive; */
  color: var(--flame);
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  .header .container {
    gap: var(--spacing-md);
    padding: var(--spacing-lg);
    font-size: 21px;
  }

  .container {
    flex-direction: row;
    padding: 0 var(--spacing-lg);
  }

  button,
  input {
    height: 50px;
    width: 150px;
    background-color: inherit;
    border-radius: 30px;
    border: 7px solid var(--black-olive);
  }

  .game {
    transform: translate(0%, -90%) scale(1.2);
  }

  .game.active {
    opacity: 1;
    transform: translate(0%, -85%) scale(1);
    pointer-events: auto;
  }

  .start-button {
    width: 352px;
    height: 70px;
    border: none;
    background-color: var(--flame);
    box-shadow: var(--shadow);
    color: var(--eerir-black);
    font-size: 40px;
    /* font-family: 'Bungee Shade', cursive; */
  }

  .menu-board {
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main {
    margin-top: 0;
  }

  .message {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
  }

  .game-board {
    width: 315px;
    height: 315px;
  }

  .board-cell {
    border-width: 7px;
    height: 100.8px;
    width: 100%;
    font-size: 70px;
  }

  .menu-button {
    font-size: 22px;
  }

  .menu-button.selected {
    font-size: 23px;
  }

  .board-cell:hover {
    background-color: inherit;
  }

  :root {
    --spacing-xl: 20px;
  }
}
